<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>788417813135-st66p9oqtc2n52bu4gnhn9scmjs96b0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788417813135-st66p9oqtc2n52bu4gnhn9scmjs96b0d</string>
	<key>API_KEY</key>
	<string>AIzaSyCZVOPM1tFhVDny8Y6_VH3fsGHl7XbYiwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>788417813135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relatedcode.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-26bb6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-26bb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:788417813135:ios:8a9354d6483948fd</string>
	<key>DATABASE_URL</key>
	<string>https://chat-26bb6.firebaseio.com</string>
</dict>
</plist>